{% extends 'base.html' %}
{% block title %}매매일지 - 비밀번호 변경{% endblock %}
{% block content %}

    <div class="w-screen h-screen flex flex-col items-center justify-center">

    {% if validlink %}

        <h1>Set a new password!</h1>
        <form method="POST">
          {% csrf_token %}
            <ul class="list-inside list-disc">
                <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
                <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
            </ul>
            <p>
                <label for="id_new_password1">새 비밀번호:</label>
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list"> <span class="helptext"></span>
            </p>
            <p>
                <label for="id_new_password2">새 비밀번호 (확인):</label>
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            </p>
            <input class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded my-4" type="submit" value="Change my password">
        </form>

    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

    {% endif %}
    </div>
{% endblock %}