{% extends 'base.html' %}
{% block title %}매매일지 - 비밀번호 변경{% endblock%}
{% block content %}
<div class="w-screen h-screen flex flex-row items-start justify-center">
    {% include 'account_menu.html' %}
    <div class="w-3/4 h-100% flex-col justify-center m-4 mt-24">
        <h1 class="text-5xl my-8">비밀번호 변경</h1>
        <h2>{{ failed_message }}</h2>
        <form action="{% url 'account:password-change' %}" method="post">
            {% csrf_token %}
            <!-- 현재 비밀번호 -->
            <div>
                <input type="password" name="password" placeholder="현재 비밀번호를 입력하세요" />
            </div>
            <!-- 변경 할 비밀번호 -->
            <div>
                <input type="password" name="new_password" placeholder="새 비밀번호를 입력하세요" />
            </div>
            <!-- 변경 할 비밀번호2 -->
            <div>
                <input type="password" name="new_password_check" placeholder="새 비밀번호를 다시 입력하세요" />
            </div>
            <div>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded my-4" type="submit" name="submit">비밀번호 변경</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}