{% extends 'base.html' %}
{% block title %}매매일지 - 회원탈퇴 {% endblock %}

{% block content %}
<div class="w-screen h-screen flex flex-row items-start justify-center">
    {% include 'account_menu.html' %}
    <div class="w-3/4 h-100% flex-col justify-center m-4 mt-24">
        <h1 class="text-5xl my-8">회원탈퇴</h1>

        <h4> 탈퇴하시려면 비밀번호를 입력해주세요.</h4>
        <h2>{{ failed_message }}</h2>
        <form action="{% url 'account:withdraw'%}" method="post">
            {% csrf_token %}
            <div id="div-input-password">
                <input type="password" name="password" placeholder="비밀번호를 입력하세요." />
            </div>
            <div id="div-input-submit">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded my-4" type="submit" name="submit"> 회원탈퇴 </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}