<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <h1>로그인</h1>
    <h2>{{ failed_message }}</h2>
    <form action="{% url 'account:log-in'%}" method="post">
        {% csrf_token %}
        <div id="div-input-username">
            <label> ID: </label>
            <input type="email" name="username" placeholder="email"/>
        </div>
        <div id="div-input-password">
            <label> PASSWORD: </label>
            <input type="password" name="password" placeholder="비밀번호를 입력하세요"/>
        </div>
        <div id="div-input-submit">
            <button type="submit" name="submit"> 로그인 </button>
        </div>
    </form>
    <form action="{% url 'account:sign-in'%}" method="get">
        {% csrf_token %}
        <div id="div-input-signin">
            <button type="submit" name="signin"> 회원가입 </button>
        </div>
    </form>
</body>
</html>