<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password change</title>
</head>
<body>
    <h1>비밀번호 변경</h1>
    <h2>{{ failed_message }}</h2>
    <form action="{% url 'account:password-change' %}" method="post">
        {% csrf_token %}
        <!-- 현재 비밀번호 -->
        <div>
            <input type="password" name="password" placeholder="현재 비밀번호를 입력하세요" />
        </div>
        <!-- 변경 할 비밀번호 -->
        <div>
            <input type="password" name="new_password" placeholder="새 비밀번호를 입력하세요" />
        </div>
        <!-- 변경 할 비밀번호2 -->
        <div>
            <input type="password" name="new_password_check" placeholder="새 비밀번호를 다시 입력하세요" />
        </div>
        <div>
            <button type="submit" name="submit">비밀번호 변경</button>
        </div>
    </form>
</body>
</html>