<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Edit</title>
</head>
<body>
    <form action="{% url 'tradelog:index' %}" method="get" id="form-back">
        {% csrf_token %}
    </form>
    <h2>{{ failed_message }}</h2>
    <form action="{% url 'account:profile-edit' %}" method="post" id="form-edit">
        {% csrf_token %}
        <!-- 계정,프로필 사진 -->
        <div>
            <h3>{{user.username}}</h3>
        </div>
        <!-- 닉네임 -->
        <div>
            <label>닉네임 : </label>
            <input type="text" name="nickname" value="{{ profile.nickname }}">
        </div>
        <!-- 소개 -->
        <div>
            <label>소개 : </label>
            <input type="text" name="bio" value="{{ profile.bio }}">
        </div>
        <!-- 휴대폰 번호 -->
        <div>
            <label>휴대폰 번호 : </label>
            <input type="tel" name="phone_number" value="{{ profile.phone_number }}">
        </div>
        <!-- 성별 -->
        <div>
            <label>성별 : </label>
            <input type="text" name="sex" value="{{ profile.sex }}">
        </div>
    </form>
    <button type="submit" form="form-back">취소</button>
    <button type="submit" form="form-edit">적용</button>


</body>
</html>