<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signin</title>
</head>
<body>
    <h1>회원가입</h1>
    <h2>{{ failed_message }}</h2>
    <form action="{% url 'account:sign-in'%}" method="post">
        {% csrf_token %}
        <div id="div-input-username">
            <input type="email" name="username" placeholder="사용하실 email을 입력하세요."/>
        </div>
        <div id="div-input-password">
            <input type="password" name="password" placeholder="비밀번호를 입력하세요."/>
        </div>
        <div id="div-input-password-check">
            <input type="password" name="password_check" placeholder="비밀번호를 다시 입력하세요."/>
        </div>
        <div id="div-input-submit">
            <button type="submit" name="submit"> 회원가입 </button>
        </div>
    </form>
</body>
</html>