<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>withdraw</title>
</head>
<body>
    <h1>회원탈퇴</h1>

    <h4> 탈퇴하시려면 비밀번호를 입력해주세요.</h4>
    <h2>{{ failed_message }}</h2>
    <form action="{% url 'account:withdraw'%}" method="post">
        {% csrf_token %}
        <div id="div-input-password">
            <input type="password" name="password" placeholder="비밀번호를 입력하세요."/>
        </div>
        <div id="div-input-submit">
            <button type="submit" name="submit"> 회원탈퇴 </button>
        </div>
    </form>
</body>
</html>