
<div class="h-screen w-1/3 bg-white">
    <ul id="account_menu">
        <li id="profile" class="menu-item profile p-4 text-center">
            <a href="{% url 'account:profile-edit' %}">회원정보 수정</a>
        </li>
        <li id="password-change" class="menu-item p-4 text-center">
            <a href="{% url 'account:password-change' %}">비밀번호 변경</a>
        </li>
        <li id="withdraw" class="menu-item p-4 text-center">
            <a href="{% url 'account:account-list' %}">계좌 리스트 수정</a>
        </li>
        <li id="withdraw" class="menu-item p-4 text-center">
            <a href="{% url 'account:withdraw' %}">회원탈퇴</a>
        </li>
    </ul>
</div>