
<div class="h-screen w-1/4 border-r-2 mt-24">
    <ul id="account_menu">
        <li id="profile" class="menu-item profile m-4 text-center">
            <a href="{% url 'account:profile-edit' %}">회원정보 수정</a>
        </li>
        <li id="password-change" class="menu-item m-4 text-center">
            <a href="{% url 'account:password-change' %}">비밀번호 변경</a>
        </li>
        <li id="withdraw" class="menu-item m-4 text-center">
            <a href="{% url 'account:account-list' %}">계좌 리스트 수정</a>
        </li>
        <li id="withdraw" class="menu-item m-4 text-center">
            <a href="{% url 'account:withdraw' %}">회원탈퇴</a>
        </li>
    </ul>
</div>