<nav>
    <div id="logo">MAEMAE</div>
    <ul id="menu">
        {% if user.is_authenticated %}
            <li id="profile" class="menu-item profile">
                <a href="{% url 'account:profile-edit' %}">{{ user.username }}</a>
            </li>
            <li id="logout" class="menu-item">
                <a href="/log-out">로그아웃</a>
            </li>
        {% else %}
            <li id="login" class="menu-item solid">
                <a href="/log-in">로그인</a>
            </li>
            <li id="register" class="menu-item">
                <a href="/sign-in">가입하기</a>
            </li>
        {% endif %}
    </ul>
</nav>