{% load static %}
<nav class="w-screen h-16 bg-white flex items-center justify-between px-16 text-primary fixed top-0 border border-line">
    <div id="logo">
        <a class="text-2xl" href="{% url 'account:home' %}">MAEMAE</a>
    </div>
    <!-- <ul id="menu">
        {% if user.is_authenticated %}
            <li id="profile" class="menu-item profile">
                <a href="{% url 'account:profile-edit' %}">{{ user.username }}</a>
            </li>
            <li id="logout" class="menu-item">
                <a href="/log-out">로그아웃</a>
            </li>
        {% else %}
            <li id="login" class="menu-item solid">
                <a href="/log-in">로그인</a>
            </li>
            <li id="register" class="menu-item">
                <a href="/sign-in">가입하기</a>
            </li>
        {% endif %}
    </ul> -->

    <div class="flex gap-2">
        {% if user.is_authenticated %}
        <a href="{% url 'account:profile-edit' %}">{{ user.username }}

        
        <a href="{% url 'account:profile-edit' %}">
            {% if profile.profile_image %}
            <img class="w-8 h-8 rounded-full" src="{{profile.profile_image.url}}" id="profile_img_thumbnail">
            {% else %}
            <img class="w-8 h-8 rounded-full" src="{% static '/image/profileimg_empty.png' %}" id="profile_img_thumbnail">
            {% endif %}
        </a>
        <a href="/log-out">로그아웃</a>
        {% else %}
        <a href="/log-in">로그인</a>
        <a href="/register">가입하기</a>

        {% endif %}
    </div>
</nav>