
<h2>주식 종목</h2>
{{ tradelog_detail.name }}

<h2>코드</h2>
{{ tradelog_detail.code }}

<h2>시간</h2>
{{ tradelog_detail.trade_at }}




<!-- name = models.CharField("stock name", max_length=40)
code = models.CharField("stock code", max_length=20)
trade_at = models.DateTimeField("trade date", default=timezone.now())
price = models.IntegerField("trade price")
amount = models.IntegerField("trade volume")
type = models.CharField("trade type", max_length=1, choices=TRADE_TYPE)
account = models.ForeignKey('Account', on_delete=models.RESTRICT)
description = models.TextField("trade description")
create_at = models.DateTimeField(auto_now_add=True)
update_at = models.DateTimeField(auto_now=True) -->

