{% load static %}
<div class="border-b p-3 flex justify-end ">
        <a class="box-border bg-primary px-4 py-1 rounded-2xl text-white" href='{% url 'tradelog:create' %}'>매매일지 작성</a>
</div>
<!-- 이 공간에는 블로그 글들의 목록을 보여줄 예정 -->
{% for post in posts %}
        <div class="border-b p-4">
                <div class="flex justify-between items-start">
                        <div class="flex items-center gap-2">
                                <img src="{% static '/image/profileimg_empty.png' %}" class="w-8 h-8 rounded-full bg-gray-100 inline"/>
                                <div> 
                                        <a href="{% url 'tradelog:dashboard' post.code %}"><span class="font-semibold text-lg">{{ post.name }}</span>
                                                <span class="font-light text-sm">({{ post.code }})</span></a>
                                </div>
                        </div> 
                        <div class="px-8 py-2 flex items-start justify-end gap-8 text-center">
                                <div>
                                        <p class="text-sm">매수/매도</p>
                                        <p class="text-lg">{{ post.get_trade_type }}</p>
                                </div>
                                <div>
                                        <p class="text-sm">가격</p> 
                                        <p class="text-lg">{{ post.price }}</p> 
                                </div>
                                <div>
                                        <p class="text-sm">수량</p>
                                        <p class="text-lg">{{ post.amount }}</p> 
                                </div>
                        </div>      
                </div>
                
                <p class="font-semibold">매매이유</p>
                <p class="text-sm">{{post.description}}</p>
                <div class="py-2 flex justify-center gap-2">
                        <a class="px-2 border-2 border-primary rounded-2xl" href="{% url 'tradelog:update' post.id %}">수정</a>
                        <a class="px-2 border-2 border-primary rounded-2xl" href="{% url 'tradelog:delete' post.id %}">삭제</a>
                </div>
                <p class="text-xs text-right">{{ post.trade_at|date:"Y-m-d" }}</p>
                <!-- <a href="{% url 'tradelog:detail' post.id %}"><h3>날짜 : {{ post.create_at }}</h3></a>
                <h4>종목명 : {{ post.name }}</h4>
                <h4>가격 : {{ post.price }}</h4>
                <h4>체결량 : {{ post.amount }}</h4>

                <a href="{% url 'tradelog:update' post.id %}">수정하기</a>
                <a href="{% url 'tradelog:delete' post.id %}">글 삭제하기</a> -->
        </div>

{% endfor %}

