

{% if isCreate %}
<div class="w-screen h-screen bg-black bg-opacity-30 fixed flex justify-center items-center" 
    id="feed-create-layer-popup" onclick="goToDashboard(event)">
    <div class="w-auto h-auto m-auto bg-white">
        <h1 class="text-custom_black">매매일지 작성하기</h1>
        <div class="flex-col text-red-400 p-4">
            <p>{{ failed_message }}</p>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}  
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="새 글 생성하기">
        </form>
    </div>
</div>



{% endif %}
<script>
    function goToDashboard(event){
        console.log(event);
        const layerPopup = document.querySelector("#feed-create-layer-popup");
        if(event.target=== layerPopup)
        {
            window.history.back();
        }
    }
</script>

